.stat-card{
    width: 370px;
    height: 270px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.icon-container{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--Dark-Violet);
    position: absolute;
    top: -40px;
    left: 30px;
}


.card-heading{
    color: var(--Very-Dark-Blue);
    margin-top: 30px;
}

.card-description{
    color: var(--Grayish-Violet);
    font-weight: 500;
}