.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.homepage-container{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}

.urlRes-AdvanceStats{
    width: 100%;
    height: auto;
    background-color: rgb(240, 241, 246);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: visible;  
    padding-bottom: 100px;
}

