.footer{
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-footer{
    width: 130px;
}

.listing-and-icons{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.icons-container{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 25px;
}